/*  your css code here. If applicable */
body{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}
#center-image{
	width:600px;
	height:400px;
	background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS_Z5mVJ-GcZWRJf4Lzk93TVs5sGATPOLQBIn4Tob82MANMysmC");
	background-repeat: no-repeat;
	background-size:100% 100%;
}
#center-image h1{
   text-align:center;	
	color:white;
}